body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #2f2f2f;
}

.navbar-brand {
  width: 50%;
}

.navbar-brand img {
  width: 100%;
}

.nav-link {
  text-align: center;
  color: white;
}

main {
  min-height: 100vh;
}

main .homeworks {
  width: 90%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  overflow-y: scroll;
}

main .homeworks .card {
  border-radius: 20px;
}

footer {
  background-color: white;
}

footer h5,
footer h6 {
  color: rgb(52, 66, 54);
  text-decoration: underline;
}

@media only screen and (min-width: 576px) {
  header .collapse .nav-item {
    margin-top: 0 !important;
  }
  .navbar-brand {
    margin-left: 50px;
    width: 12rem;
  }
}
