body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #141414;
}

header {
  margin-bottom: 20px;
}

.navbar-brand {
  width: 50%;
}

.navbar-brand img {
  width: 100%;
}

.nav-link {
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

h2 {
  color: white;
}

a {
  color: black;
  display: block;
  text-decoration: none;
}

span {
  font-size: 1rem;
  font-weight: bold;
}

main {
  width: 100%;
  min-height: 78vh;
}

.container {
  width: 90%;
}

.card {
  width: 100%;
  box-shadow: 0 0.5rem 1.5rem #1db954;
}

.card a {
  width: 50%;
  margin: 15px auto 15px;
}

.img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.img img {
  margin-top: 20px;
  width: 50%;
}

footer {
  background-color: white;
  margin-top: auto;
}

footer img {
  width: 10rem;
}

@media only screen and (min-width: 576px) {
  header {
    font-size: 1rem;
  }
  header .collapse .nav-item {
    margin-top: 0 !important;
  }
  .navbar-brand {
    margin-left: 20px;
    width: 12rem;
  }
  .nav-link {
    margin-right: 50px;
  }

  .card {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (min-width: 760px){
  .icon-telegram{
    max-width: 110px;
  }
}
