body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #141414;
}

header {
  margin-bottom: 30px;
}

.navbar-brand {
  width: 50%;
}

.navbar-brand img {
  width: 100%;
}

.nav-link {
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

main {
  min-height: 80vh;
}

main .container{
  max-width: 100%;
}

main .container .membresias {
  max-width: 100vw;
}

span{
  font-weight: bold;
}
.card {
  box-shadow: 0 0.5rem 1.5rem #d4b920;
  height: 32rem;
}
a {
  color: black;
  display: block;
  text-decoration: none;
}

.container-card {
  width: 23rem;
  height: 100%;
}

footer {
  background-color: white;
  margin-top: auto;
}

footer img {
  width: 10rem;
}


@media only screen and (min-width: 576px) {
  header {
    font-size: 1rem;
  }
  header .collapse .nav-item {
    margin-top: 0 !important;
  }
  .navbar-brand {
    margin-left: 20px;
    width: 12rem;
  }
  .nav-link {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 990px) {
  .container-card {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 760px){
  .icon-telegram{
    max-width: 110px;
  }
}