body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
.background-spotify {
  min-height: 100%;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12)),
    url(/icons/background.png) no-repeat center center fixed;
  background-size: cover;
}

.nav-link {
  color: white;
}

main {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario h3 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.formulario {
  color: black;
  box-shadow: 1px 1px 20px #1db954;
  width: 22rem;
  height: 450px;
  background-color: white;
  border-radius: 20px;
}

.formulario form button {
  color: white;
  background-color: #1db954;
  width: 60%;
  height: 40px;
  border: none;
}

@media only screen and (max-width: 576px) {
  .navbar-brand {
    width: 70%;
  }

  .formulario {
    width: 15rem;
  }
}
